___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [7]:
print(pd.__version__)

1.1.3

In [2]:
df = pd.read_csv('Ecommerce Purchases')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

Скільки рядків і стовпців в наборі даних:

In [30]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [31]:
df.isnull().values.any()

False

Яка середня ціна закупки (Purchase Price):

In [32]:
df['Purchase Price'].mean()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [36]:
(df['Language'] == 'en').sum()

1098

Скільки людей має посаду «Lawyer»?

In [41]:
def is_Lawyer(string):
    return True if "Lawyer" in string else False


df[df['Job'].map(is_Lawyer)].shape[0]

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [9]:
print('Вранці:')
print((df['AM or PM'] == 'AM').sum())
print('Після обіду:')
print((df['AM or PM'] == 'PM').sum())

Вранці:
4932
Після обіду:
5068

Які 5 найпоширеніших назв вакансій?

In [10]:
df['Job'].value_counts()[0:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [26]:
df.loc[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [28]:
df.loc[df['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [80]:
(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] >= 100)]).shape[0]

0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [40]:
def in_25(string):
    return True if "25" in string else False


df[df['CC Exp Date'].map(in_25)].shape[0]

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [52]:
def host(string):
    return string.rsplit('@')[1]

df['Email'].map(host).value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [5]:
tmp = df.groupby(['Browser Info']).agg({'Job': ['sum']}).reset_index()
tmp

,Browser Info,Job
,,sum
0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,"Psychotherapist, dance movement"
1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Retail merchandiser
2,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Firefighter
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Broadcast presenter
4,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0)...,"Development worker, international aid"
...,...,...
8282,Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9...,Company secretary
8283,Opera/9.99.(X11; Linux x86_64; en-US) Presto/2...,Dramatherapist
8284,Opera/9.99.(X11; Linux x86_64; en-US) Presto/2...,Private music teacher
8285,Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2...,Hotel manager
8286,Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2...,"Scientist, forensic"

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [3]:
def percent(p):
    res=0
    if p<=50:
        res=1.3*p
    elif p>50 and p<=100:
        res=1.2*p
    else:
        res=1.1*p
    return res
    

df['Actual price'] = df.apply(lambda x: percent(x['Purchase Price']), axis=1)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [22]:
df.groupby(["Language"])["Actual price"].rank(method='max')

0       1111.0
1        771.0
2         13.0
3        857.0
4        852.0
         ...
9995     885.0
9996     261.0
9997     945.0
9998     456.0
9999     753.0
Name: Actual price, Length: 10000, dtype: float64

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [14]:
df1=pd.get_dummies(df["Language"])
del df["Language"]
df2 = pd.concat([df, df1],axis=1, join="inner")
df2.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Actual price,de,el,en,es,fr,it,pt,ru,zh
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,...,117.768,0,1,0,0,0,0,0,0,0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,...,84.876,0,0,0,0,1,0,0,0,0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,...,1.235,1,0,0,0,0,0,0,0,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,...,93.648,0,0,0,1,0,0,0,0,0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,...,93.384,0,0,0,1,0,0,0,0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [16]:
df2.to_csv('my_dataframe.csv', encoding='utf-8')